@page
@model FisketorvetInfinte.Pages.AllShopsModel
@{
}

<header id="headerShop">Fisketorvet shops</header>
@{
    if (Model.Role == "admin")
    {
        <a href="/ShopsManagement/CreateShop" class="btn btn-success">Add new Shop</a>
    }
}


<div id="divMasterShop">

    @foreach (var shop in Model.Shops)
    {
        <div id="shopDiv">

            <a asp-page="ShopInfo" asp-route-shopId="@shop.ShopId">
                <td>
                   
            </td>
            <h3>@shop.Name </h3>
            <img src="/images/@shop.ImageName" />
            <p>@shop.Category </p>
            <p>@shop.WorkHour</p>
            <p>@shop.PhoneNumber</p>
              @if (Model.Role == "admin")
                    {
                    <a asp-page="EditShop" asp-route-shopId="@shop.ShopId" class="btn btn-primary">Edit</a>
                    <a asp-page = "DeleteShop" asp-route-shopId = "@shop.ShopId" class="btn btn-danger">Delete</a>
                    }
        </a>
       
    </div>
    }
</div>