@page
@model FisketorvetInfinte.Pages.ShopsManagement.CreateProductModel
@{
    if (Model.Role == "admin")
    {
        Layout = "_AdminLayout";
    }
    else
    {
        Layout = "_Layout";
    }
}

<form method="post">
    <div class="form-group">
        <label asp-for="@Model.Product.ProductId" class="control-label">ID</label>
        <input asp-for="@Model.Product.ProductId" class="form-control" />
        <span asp-validation-for="@Model.Product.ProductId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Product.ProductName" class="control-label">Name</label>
        <input asp-for="@Model.Product.ProductName" class="form-control" />
        <span asp-validation-for="@Model.Product.ProductName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Product.Price" class="control-label">Price</label>
        <input asp-for="@Model.Product.Price" class="form-control" />
        <span asp-validation-for="@Model.Product.Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Product.Size" class="control-label">Size</label>
        <select asp-for="@Model.Product.Size">
            <option value="XS">XS</option>
            <option value="S">S</option>
            <option value="M">M</option>
            <option value="L">L</option>
            <option value="XL">XL</option>
            <option value="XXL">XXL</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Product.Colour" class="control-label">Colour</label>
        <select asp-for="@Model.Product.Colour">
            <option value="Red">Red</option>
            <option value="Green">Green</option>
            <option value="Blue">Blue</option>
            <option value="Yellow">Yellow</option>
            <option value="Black">Black</option>
            <option value="White">White</option>
            <option value="Orange">Orange</option>
            <option value="Purple">Purple</option>
        </select>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>