@page
@model FisketorvetInfinte.Pages.CreateShopModel
@{
}

<form method="post">

    <div class="form-group">
        <label asp-for="@Model.Shop.Name" class="control-label"> Shop Name </label>
        <input asp-for="@Model.Shop.Name"  class="form-control" />
        <span asp-validation-for="@Model.Shop.Name" class="text-danger"></span>

    </div>

    <div class="form-group">
        <label asp-for="@Model.Shop.Category" class="control-label">Shop category</label>
        <input asp-for="@Model.Shop.Category" type="text" class="form-control" />
        <span asp-validation-for="@Model.Shop.Category" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Shop.WorkHour" class="control-label">Shop working hours</label>
        <input asp-for="@Model.Shop.WorkHour" class="form-control" type="time" name="WorkHour" value="00:00" />
        <input asp-for="@Model.Shop.WorkHour" class="form-control" type="time" name="time" value="12:00" />
        <span asp-validation-for="@Model.Shop.WorkHour" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Shop.PhoneNumber" class="control-label">Shop phone number</label>
        <input asp-for="@Model.Shop.PhoneNumber" type="tel" placeholder="Phone Number" />
        <span asp-validation-for="@Model.Shop.PhoneNumber" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
         <a asp-page="AllShops" class="btn btn-danger">Cancel</a>
    </div>
</form>