@page
@model FisketorvetInfinte.Pages.UserManagement.AllUsersModel
@{
}

<div class="table-responsive-sm">
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Adress</th>
                <th scope="col">Phone number</th>
                <th scope="col">Administrator/User</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>@user.Username</td>
                    <td>@user.Name</td>
                    <td>@user.Email</td>
                    <td>@user.Address</td>
                    <td>@user.PhoneNumber</td>
                    <td>@user.Role</td>

                    <td>
                        <a class="btn btn-primary" asp-page="./EditUser" asp-route-username="@user.Username">Edit</a>

                    </td>
                    <td>
                        <a class="btn btn-primary" asp-page="./DeleteUser" asp-route-username="@user.Username">Delete</a>
                        

                    </td>
                </tr>

               
            }
        </tbody>
    </table>
</div>
