@page "{username}"
@model FisketorvetInfinte.Pages.UserManagement.EditUserModel
@{
}
<h1>Edit User</h1>

@if (Model.Alert != null)
{
    <div class="alert alert-danger" role="alert">@Model.Alert</div>
}

<form method="post">
    <div class="form-group">
        <label asp-for="@Model.User.Username" class="control-label">Username</label>
        <input asp-for="@Model.User.Username" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label asp-for="@Model.User.Name" class="control-label">Name</label>
        <input asp-for="@Model.User.Name" class="form-control" placeholder="(Required)" />
        <span asp-validation-for="@Model.User.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.User.Address" class="control-label">Address</label>
        <input asp-for="@Model.User.Address" class="form-control" placeholder="(Optional)" />
        <span asp-validation-for="@Model.User.Address" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.User.PhoneNumber" class="control-label"> Phone Number </label>
        <input asp-for="@Model.User.PhoneNumber" class="form-control" placeholder="(Optional)" />
        <span asp-validation-for="@Model.User.PhoneNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.User.Email" class="control-label"> Email </label>
        <input asp-for="@Model.User.Email" class="form-control" placeholder="(Required)" />
        <span asp-validation-for="@Model.User.Email" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="@Model.User.Role" class="control-label">Role: </label>
        <select asp-for="@Model.User.Role" class="form-control" placeholder="(Required)e">
            <option selected>@Model.User.Role</option>
           
            @if(Model.User.Role == "user")
            {
                <option>admin</option>
            }
            else
            {
                <option>user</option>
            }

            <span asp-for="@Model.User.Role" asp-validation-for="@Model.User.Role"></span>
        </select>
    </div>
    <p></p>
    <div>
        <button type="submit" value="Edit" class="btn btn-success">Save Changes</button>
        <button type="reset" class="btn btn-warning">Reset form</button>
        <a asp-page="./AllUsers" class="btn btn-danger">Cancel</a>
    </div>
</form>