@page
@model FisketorvetInfinte.Pages.EventManagement.EditEventModel
@{
    if (Model.Role == "admin")
    {
        Layout = "_AdminLayout";
    }
    else
    {
        Layout = "_Layout";
    }
}

<h1>Edit Event</h1>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.Event.Id" />
            <div class="form-group">
                <label asp-for="@Model.Event.Name" class="control-label"></label>
                <input asp-for="@Model.Event.Name" class="form-control" />
                <span asp-validation-for="@Model.Event.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Event.Description" class="control-label"></label>
                <input asp-for="@Model.Event.Description" class="form-control" />
                <span asp-validation-for="@Model.Event.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Event.DateTime" class="control-label"></label>
                <input asp-for="@Model.Event.DateTime" class="form-control" />
                <span asp-validation-for="@Model.Event.DateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-page="AllEvents">Back to List</a>
</div>