@page
@model FisketorvetInfinte.Pages.Index1Model
@{
}

<body>
    <center><h1>Log In to your account</h1></center>
    <form method="post">
        <div class="container">
            <div class="form-group">
                <label asp-for="@Model.username" class="control-label">Username: </label>
                <input asp-for="@Model.username" placeholder="Please input your username" class="form-control" />
                @*<span asp-validation-for="@Model.User.Name" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="@Model.password" class="control-label">Password: </label>
                <input asp-for="@Model.password" type="password" placeholder="Please input your password" class="form-control" />
                @*<span asp-validation-for="@Model.User.Password" class="text-danger"></span>*@
            </div>
            <input type="submit" value="Login" class="btn btn-primary" />
            <a href="/Register" type="button" class="btn btn-primary">Register</a>
        </div>
    </form>
</body>
