@page
@model FisketorvetInfinte.Pages.ShopsModel
@{
}
<header id="headerShop">Fisketorvet shops</header>

    <div id="divMasterShop">
       
        @foreach (var shop in Model.Shops)
        {

            <div id="shopDiv">
           
            <h3>@shop.Name </h3> 
            <img src = "@shop.ImagePath"></img>
            <p>@shop.Category </p>
            <p>@shop.WorkHour</p>
            <p>@shop.PhoneNumber</p>
            
            </div>

        }

       </div>
       

       
        
   
